body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.bold {
  font-weight: 600;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}
.header-left {
  font-size: 1.875rem;
}
.header-left a {
  text-decoration: none;
  color: black;
}
.header-right {
  font-size: 1.25rem;
}
.header-right a {
  margin-right: 1.875rem;
  color: #b4b6b7;
  text-decoration: none;
}
.header-right-special {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  gap: 2.5rem;
}
.hero-left-title {
  font-size: 4.375rem;
}
.hero-left-content {
  line-height: 1.875rem;
  overflow-wrap: break-word;
}
.hero-left-button {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 9.375rem;
  text-align: center;
  font-size: 1.25rem;
}
.hero-right {
  margin-top: 3.125rem;
  max-width: 100%;
  display: flex;
  justify-content: right;
}
.hero-right img {
  max-width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
  box-shadow: 10px 10px 30px gray;
}

.index-products-container {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.index-products-product {
  display: flex;
  flex-direction: column;
  max-width: 18.75rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.index-products-product-left img {
  width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.index-products-product-right a {
  font-size: 1.875rem;
  color: black;
  text-decoration: none;
  padding-left: 0.9375rem;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 1650px) {
  .product-container {
    flex-direction: column !important;
  }
}
.product-left {
  margin-top: 3.125rem;
  max-width: 100%;
  display: flex;
  justify-content: left;
}
.product-left img {
  max-width: 42.1875em;
  max-height: 42.1875em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
  box-shadow: 10px 10px 30px gray;
}
.product-right {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
  margin-top: 9.375rem;
  gap: 2.5rem;
}
.product-right-title {
  font-size: 4.375rem;
}
.product-right-content {
  line-height: 1.875rem;
  overflow-wrap: break-word;
}
.product-right-buttons {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
.product-right-buttons-button {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 9.375rem;
  text-align: center;
  font-size: 1.25rem;
}
.product-right-buttons-button-cart {
  background: none;
  color: #5f19f5;
  font-size: 2.1875rem;
}

.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 4.375rem;
}
.login-title {
  color: black;
  font-size: 2.5rem;
}
.login form {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}
.login form input {
  padding: 0.625rem;
  width: 100%;
  border: none;
  background-color: transparent;
}
.login form input:focus {
  outline: none;
}
.login-icont {
  max-width: 28.125rem;
  font-size: 0.9375rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 10px 30px #D0BDF0;
  display: flex;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;
}
.login-icont i {
  font-size: 1.875rem;
  color: #5f19f5;
  text-shadow: -5px 5px 5px #D0BDF0;
  background-color: transparent;
}
.login-submit {
  color: white !important;
  background-color: #5f19f5 !important;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 12.5rem;
  text-align: center;
  font-size: 1.25rem;
}
.login-link {
  color: gray;
}
.login-link a {
  color: #5f19f5;
  text-decoration: none;
}

.dashboard {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  border: 2px solid lightgray;
}
.dashboard a {
  font-size: 25px;
  text-align: center;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.dashboard a li {
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */