body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.bold {
  font-weight: 600;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}
.header-left {
  font-size: 1.875rem;
}
.header-left a {
  text-decoration: none;
  color: black;
}
.header-right {
  font-size: 1.25rem;
}
.header-right a {
  margin-right: 1.875rem;
  color: #b4b6b7;
  text-decoration: none;
}
.header-right-special {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  gap: 2.5rem;
}
.hero-left-title {
  font-size: 4.375rem;
}
.hero-left-content {
  line-height: 1.875rem;
  overflow-wrap: break-word;
}
.hero-left-button {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 9.375rem;
  text-align: center;
  font-size: 1.25rem;
}
.hero-right {
  margin-top: 3.125rem;
  max-width: 100%;
  display: flex;
  justify-content: right;
}
.hero-right img {
  max-width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
  box-shadow: 10px 10px 30px gray;
}

.index-products-container {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 50px;
}
.index-products-product {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  background-color: white;
  max-height: 490px;
  height: 490px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.index-products-product a {
  font-size: 1.875rem;
  color: black;
  text-decoration: none;
}
.index-products-product-left {
  width: 100%;
}
.index-products-product-left img {
  width: 100%;
  height: 209px;
  -o-object-fit: cover;
  object-fit: cover;
}
.index-products-product-right {
  padding: 32px;
}
.index-products-product-right h4 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.44px;
}
.index-products-product-right #description {
  max-width: 306px;
  max-height: 84px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.64px;
  margin: 0;
  margin-bottom: 0px;
  word-break: break-all;
}
.index-products-product-right #price {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.64px;
  margin: 0;
  margin-bottom: 32px;
}
.index-products-product-right span {
  padding: 15px 36px;
  border: 2px solid var(--Grey-Grey-4, #e0e0e0);
  border-radius: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.64px;
}

.product-container {
  display: flex;
  gap: 150px;
  flex-direction: row;
  max-height: 675px;
  height: 100%;
}
@media screen and (max-width: 1650px) {
  .product-container {
    flex-direction: column !important;
  }
}
.product-left {
  margin-top: 3.125rem;
  max-width: 42.1875em;
  width: 100%;
  display: flex;
  justify-content: left;
}
.product-left img {
  max-width: 42.1875em;
  width: 100%;
  max-height: 42.1875em;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
  box-shadow: 10px 10px 30px gray;
}
.product-right {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
  margin-top: 9.375rem;
  gap: 2.5rem;
}
.product-right-title {
  font-size: 4.375rem;
}
.product-right-content {
  line-height: 1.875rem;
  overflow-wrap: break-word;
}
.product-right-buttons {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
.product-right-buttons-button {
  color: white !important;
  background-color: #5f19f5;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 9.375rem;
  text-align: center;
  font-size: 1.25rem;
}
.product-right-buttons-button-cart {
  background: none;
  color: #5f19f5;
  font-size: 2.1875rem;
}

.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 4.375rem;
}
.login-title {
  color: black;
  font-size: 2.5rem;
}
.login form {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}
.login form input {
  padding: 0.625rem;
  width: 100%;
  border: none;
  background-color: transparent;
}
.login form input:focus {
  outline: none;
}
.login-icont {
  max-width: 28.125rem;
  font-size: 0.9375rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 10px 30px #D0BDF0;
  display: flex;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;
}
.login-icont i {
  font-size: 1.875rem;
  color: #5f19f5;
  text-shadow: -5px 5px 5px #D0BDF0;
  background-color: transparent;
}
.login-submit {
  color: white !important;
  background-color: #5f19f5 !important;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  max-width: 12.5rem;
  text-align: center;
  font-size: 1.25rem;
}
.login-link {
  color: gray;
}
.login-link a {
  color: #5f19f5;
  text-decoration: none;
}

.dashboard {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.dashboard a {
  font-size: 25px;
  text-align: center;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.dashboard a li {
  font-size: 30px;
}

.addProduct {
  background-color: rgba(243, 243, 243, 0.9529411765);
  height: 100%;
}
.addProduct form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.addProduct--general {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  padding: 20px;
  gap: 10px;
}
.addProduct--general h2 {
  margin: 0;
}
.addProduct--general input {
  padding: 10px;
  box-shadow: inset 0 0 5px lightgray;
  border: none;
}
.addProduct--general textarea {
  padding: 10px;
  box-shadow: inset 0 0 5px lightgray;
  border: none;
  height: 200px;
}

.viewProduct {
  padding-top: 50px;
}
.viewProduct--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viewProduct--box img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.viewProduct--box .image {
  display: flex;
  gap: 20px;
}
.viewProduct--box .info {
  display: flex;
  gap: 20px;
}
.viewProduct--box a {
  color: black;
}/*# sourceMappingURL=style.css.map */